body {
  background: linear-gradient(to right, rgb(191, 233, 186), rgb(97, 153, 161));
  text-align: center;
  color: rgb(63, 58, 58);
  font-family: sans-serif;
}

.Mcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5rem 0;
}

.bodyWrapper {
  padding: 2px;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-be;
  align-items: center;
  margin: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  padding: 3px;
  border-radius: 10px;
}

/* Media query */
@media (max-width: 850px) {
  .Mcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .Mcontainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
  }
}
